<h1>Send me an email</h1>
<center><%= image_tag("Kontakt.jpg", class: "img-responsive") %></center>
<h2><strong>Thank you for being in touch!</strong></h2>
<center><h2>My address is:<br> Scottish Borders / Scotland</h2><br><h3><strong>mobile: 07503741700</strong></h3></center>